@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "node_modules/font-awesome/scss/font-awesome";
#login-message, #register-message {
    display: none;
}

#logo {
    padding: 1px 10px;
    height: 45px;
    width: 230px;
    margin-top: 14px;
}


#profile_avatar {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 10px;
    left: -25px;
    border-radius: 50%;
}

#show_avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.circle {
    background-color: #EEEEEE;
    color: #FFFFFF;
    border-radius: 50px;
    display: inline-block;
    margin: 0 5px;
    padding: 10px;
}

.facebook {
    background-color: #455CA8;
    color: #FFFFFF;
}

.google {
    background-color: #F74933;
}

.twitter {
    background-color: #808080;
}

.modal-header {
    text-align: center;
}

#custom-search-input {
    style {
        padding: 3px;
        border: solid 1px #E4E4E4;
        border-radius: 6px;
        background-color: #fff;
    }

    input {
        border: 0;
        box-shadow: none;
    }

    button {
        margin: 2px 0 0 0;
        background: none;
        box-shadow: none;
        border: 0;
        color: #666666;
        padding: 0 8px 0 10px;
        border-left: solid 1px #ccc;
    }

    .glyphicon-search {
        font-size: 23px;
    }

    button:hover {
        border: 0;
        box-shadow: none;
        border-left: solid 1px #ccc;
    }
}

#search-header {
    margin-top: 13px;
}

#avatar {
    margin-top: -1px;
    a:hover, a:focus, a:visited, a:active {
        background-color: #004D40 !important;
    }
    a:hover {
        color: #FF7043;
    }
}

.login-register {
    margin-top: -25px;
}

.button-search {
    left: 7px;
    border-radius: 4px;
}

.text-search {
    display: inline-table;
}

#menu {
    background-color: #004D40;
}

.sidebar-nav {
    position: absolute;
    background-color: #00695C;
    margin-top: 60px;
    height: 100%;
    top: 0;
    width: 200px;
    padding: 0;
    list-style: none;
    li {
        text-indent: 10px;
        line-height: 60px;
        a {
            display: block;
            text-decoration: none;
            color: #FAFAFA;
            &:hover {
                text-decoration: none;
                color: #FF7043;
                background: rgba(255,255,255,0.2);
            }
            &:active, &:focus {
                text-decoration: none;
            }
        }
    }
}

#sidebar-wrapper {
    background: #000;
}

.page-content-wrapper {
    width: 100%;
    position: absolute;
    padding-left: 15px;
    margin-left: 220px;
}

a {
    color : #fff;
}

#menu-user {
    background-color: #26A69A;
    top: 0;
    left: 100%;
    margin-top: 6px 0 0 -1px;
    .sub-menu {
        padding-bottom: 20px;
    }
}

.filterable {
    margin-top: 15px;
}

.filterable .filters input[disabled] {
    background-color: transparent;
    border: none;
    cursor: auto;
    box-shadow: none;
    padding: 0;
    height: auto;
}

.filterable .filters input[disabled]::-webkit-input-placeholder {
    color: #333;
}

.filterable .filters input[disabled]::-moz-placeholder {
    color: #333;
}

.filterable .filters input[disabled]:-ms-input-placeholder {
    color: #333;
}

.partial-admin {
    margin-top: 15px;
}

.paginate {
    float: right;
}

.form-group {
    padding: 0 15px;
}

.image-product {
    width: 240px;
    height: 200px;
}

.price {
    font-weight: bold;
    font-size: 16px;
    color: red;
}

.product_details {
    width: 480px;
    height: 360px;
}

.data-image {
    text-align: center;
    .image-item {
        width: 120px;
        height: 100px;
    }
}

.input-quantity {
    width: 30px;
}

table thead th{
    background-color: #CFD8DC;
}

#table-price {
    background-color: #F1F8E9;
}

#header-cart {
    margin-right: 30px;
}

.name {
    width: 91%;
    padding: 10px 10px 0px 0px;
}

.order-items {
    box-sizing: border-box;
    .order-item {
        margin: 0 0 15px;
        display: table;
        width: 100%;
        div {
            display: table-cell;
        }
    }
}

.order-summary {
    list-style-type: none;
    padding: 0;
    margin: 0 0 0 -15px;
    li {
        margin: 15px 0;
        .label-summary {
            margin: 0 15px;
            color: #999999;
            font-size: 14px;
        }
        .value-summary {
            float: right;
        }
    }
}

.total {
    font-size: 30px;
    .label-total {
        font-weight: bold;
    }
    .value-total {
        color: red;
        float: right;
    }
}

#information {
    display: none;
}

.comment {
    margin-left: 379px;
}

#comment-message ,#commentProduct {
    display: none;
}

.comments-list {
    padding-top: 20px;
}

.commentId {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #dadada;
}

.comment_avatar {
    float: left;
    margin-right: 20px;
    .user-comment {
        height: 48px;
    }
}

.comment_content {
    overflow: hidden;
    .comment_text {
        color: #3a3a3a;
        margin-bottom: 10px;
    }
    .comment-info {
        color: #acacac;
        font-size: 12px;
    }

    .comment-info > * {
        display: inline-block;
    }

    .comment-author {
        color: #3a3a3a;
    }

    .comment-time {
        margin-left: 10px;
    }

    .comment-rating {
        display: inline-block;
        margin: 0 10px;
    }
}
