@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "node_modules/font-awesome/scss/font-awesome";
#login-message, #register-message {
    display: none;
}

#logo {
    padding: 1px 10px;
    height: 45px;
    width: 230px;
}

.img-responsive {
    width: 32px;
    height: 32px;;
    position: absolute;
    top: 10px;
    left: -25px;
    border-radius: 50%;
}
